.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
*.html
.idea/
PopFlix/.idea
local.properties
PopFlix/index-files
PopFlix/com/napps/popflix
PopFlix/app/.idea
PopFlix/stylesheet.css